*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body{
      background: lightcoral;
      font-family: Montserrat;
}

a{
      text-decoration: none;
}

.sidebar{
      position: absolute;
      left: 0;
      top: 0;
      width: 230px;
      background: url(img/sidebar/sidebar-bg.png);
      height: inherit;
      background-position: center;

      .sidebar__head{
            height: 175px;
      }

      .sidebar__body{
            height: max-content;


            .sidebar__menu{
                  padding-bottom: 150px;

                  .sidebar__item:first-child{
                        border-top: 1px solid rgba(255, 255, 255, 0.30);;
                  }

                  .sidebar__item{
                        height: max-content;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.30);;
                        overflow: hidden;

                        &:hover{
                              .sidebar__link{
                                    background: linear-gradient(90deg, rgba(152, 152, 152, 0.3), transparent);
                              }
                        }

                        &.active{
                              height: 55px;
                              position: relative;
                              overflow: visible;

                              .sidebar__link{
                                    position: absolute;
                                    height: 61px;
                                    width: 240px;
                                    top: -4px;
                                    background: linear-gradient(45deg, #F9F9F9, #D6D6D6);
                                    box-shadow: 1px 1px 5px black;

                                    .link--icon{
                                          filter: brightness(0);
                                    }

                                    .link--title{
                                          color: rgba(60, 60, 60, 1);
                                    }
                              }
                        }

                        .sidebar__link{
                              position: relative;
                              height: 55px;
                              width: 100%;
                              display: flex;
                              align-items: center;
                              padding: 0 15px 0 20px;

                              .link--icon{
                                    margin-right: 10px;
                                    opacity: 0.8;
                              }
                              
                              .link--title{
                                    color: rgba(255, 255, 255, 0.7);
                                    font-size: 14px;
                              }

                              .dropdown--icon{
                                    color: rgba(255, 255, 255, 0.60);
                                    font-size: 10px;
                                    position: absolute;
                                    right: 15px;
                                    transition: all 0.4s ease;
                              }

                              .link__badge{
                                    position: relative;
                                    left: 15px;
                                    bottom: 8px;
                                    background: #A4DEE9;
                                    border: 1px solid #2B353E;
                                    border-radius: 50px;
                                    padding: 3px 4px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    .badge--vlaue{
                                          color: #2B353E;
                                          font-size: 9px;
                                          font-weight: 500;
                                    }
                              }
                        }

                        .dropdown__menu{
                              list-style: none;
                              
                              .dropdown__item{
                                    height: 0;
                                    transition: all 0.4s ease;
                                    opacity: 0;

                                    .dropdown__link{
                                          color: rgba(255, 255, 255, 0.6);
                                          font-size: 14px;
                                          padding: 0 0 0 15px;
                                          margin: 3px 0;
                                    }
                              }
                        }

                        &.dropdown.show{
                              height: max-content;
                              overflow: hidden;

                              .sidebar__link{
                                    border-bottom: 1px solid rgba(255, 255, 255, 0.30);

                                    .dropdown--icon{
                                          transform: rotate(-90deg);
                                          transition: all 0.4s ease;
                                    }
                              }

                              .dropdown__menu{
                                    .dropdown__item{
                                          display: flex;
                                          align-items: center;
                                          height: 35px;
                                          transition: all 0.4s ease;
                                          opacity: 1;

                                          &:hover{
                                                background: linear-gradient(90deg, rgba(152, 152, 152, 0.3), transparent);
                                          }
                                    }
                              }
                        }
                  }
            }
      }
}

.navbar{
      position: absolute;
      top: 0;
      left: 230px;
      width: calc(100% - 230px);
      height: 70px;
      background: darkkhaki;
}
