* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: lightcoral;
  font-family: Montserrat;
}

a {
  text-decoration: none;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 100%;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100%;
  background: green;
  z-index: 100;
  margin-top: 70px;
}

.navbar {
  position: absolute;
  top: 0;
  left: 230px;
  width: calc(100% - 230px);
  height: 70px;
  background: url(img/sidebar/navbar-bg.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar {
  position: relative;
  left: 0;
  top: 0;
  width: 230px;
  background: url(img/sidebar/sidebar-bg.png);
  background-position: center bottom;
  min-height: 100%;
  z-index: 999;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sidebar .sidebar__head {
  height: 175px;
}

.sidebar .sidebar__body {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.sidebar .sidebar__body .sidebar__menu {
  padding-bottom: 150px;
}

.sidebar .sidebar__body .sidebar__menu .sidebar__item:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.sidebar .sidebar__body .sidebar__menu .sidebar__item {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
}

.sidebar .sidebar__body .sidebar__menu .sidebar__item:hover .sidebar__link {
  background: -webkit-gradient(linear, left top, right top, from(rgba(152, 152, 152, 0.3)), to(transparent));
  background: linear-gradient(90deg, rgba(152, 152, 152, 0.3), transparent);
}

.sidebar .sidebar__body .sidebar__menu .sidebar__item.active {
  position: relative;
  overflow: visible;
}

.sidebar .sidebar__body .sidebar__menu .sidebar__item.active .sidebar__link {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: relative;
  height: 58px;
  width: 240px;
  top: 0px;
  background: linear-gradient(45deg, #F9F9F9, #D6D6D6);
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
}

.sidebar .sidebar__body .sidebar__menu .sidebar__item.active .sidebar__link .link--icon {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.sidebar .sidebar__body .sidebar__menu .sidebar__item.active .sidebar__link .link--title {
  color: #3c3c3c;
}

.sidebar .sidebar__body .sidebar__menu .sidebar__item.active .sidebar__link .dropdown--icon {
  color: rgba(0, 0, 0, 0.6);
}

.sidebar .sidebar__body .sidebar__menu .sidebar__item .sidebar__link {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: relative;
  height: 55px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px 0 20px;
}

.sidebar .sidebar__body .sidebar__menu .sidebar__item .sidebar__link .link--icon {
  margin-right: 10px;
  opacity: 0.8;
}

.sidebar .sidebar__body .sidebar__menu .sidebar__item .sidebar__link .link--title {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

.sidebar .sidebar__body .sidebar__menu .sidebar__item .sidebar__link .dropdown--icon {
  color: rgba(255, 255, 255, 0.6);
  font-size: 10px;
  position: absolute;
  right: 15px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sidebar .sidebar__body .sidebar__menu .sidebar__item .sidebar__link .link__badge {
  position: relative;
  left: 15px;
  bottom: 8px;
  background: #A4DEE9;
  border: 1px solid #2B353E;
  border-radius: 50px;
  padding: 3px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar .sidebar__body .sidebar__menu .sidebar__item .sidebar__link .link__badge .badge--vlaue {
  color: #2B353E;
  font-size: 9px;
  font-weight: 500;
}

.sidebar .sidebar__body .sidebar__menu .sidebar__item .dropdown__menu {
  list-style: none;
}

.sidebar .sidebar__body .sidebar__menu .sidebar__item .dropdown__menu .dropdown__item {
  height: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
}

.sidebar .sidebar__body .sidebar__menu .sidebar__item .dropdown__menu .dropdown__item .dropdown__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  padding: 0 0 0 15px;
  margin: 3px 0;
}

.sidebar .sidebar__body .sidebar__menu .sidebar__item.dropdown.show {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.sidebar .sidebar__body .sidebar__menu .sidebar__item.dropdown.show .sidebar__link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.sidebar .sidebar__body .sidebar__menu .sidebar__item.dropdown.show .sidebar__link .dropdown--icon {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sidebar .sidebar__body .sidebar__menu .sidebar__item.dropdown.show .dropdown__menu .dropdown__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 1;
}

.sidebar .sidebar__body .sidebar__menu .sidebar__item.dropdown.show .dropdown__menu .dropdown__item:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(152, 152, 152, 0.3)), to(transparent));
  background: linear-gradient(90deg, rgba(152, 152, 152, 0.3), transparent);
}

.sidebar__btn {
  position: absolute;
  right: 19px;
  top: 33px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sidebar__btn.active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.sidebar__btn .btn__line {
  width: 24px;
  height: 1px;
  background: rgba(255, 255, 255, 0.6);
  display: block;
  margin-bottom: 7px;
}

.sidebar__version {
  position: absolute;
  top: 30px;
  left: 20px;
}

.sidebar__version .version--value {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.sidebar.hide {
  width: 60px;
  background-position: left bottom;
}

.sidebar.hide .sidebar__version {
  opacity: 1;
  display: none;
}

.sidebar.hide .sidebar__body .sidebar__item {
  overflow: visible;
}

.sidebar.hide .sidebar__body .sidebar__item.active .sidebar__link {
  width: 65px;
}

.sidebar.hide .sidebar__body .sidebar__item .sidebar__link .link--title {
  display: none;
}

.sidebar.hide .sidebar__body .sidebar__item .sidebar__link .link__badge {
  left: -16px;
  bottom: 15px;
}
/*# sourceMappingURL=main.css.map */